{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block main %}

<style>
  body{
      background:  #6E2375 ;
      color: white;
      
  }
  #content{
   text-align: center;
  }
</style>

<div id="content" class="p-5 mb-4 bg-light rounded-3 border">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">
        Hello, My Name is Rasheed R. Senior
    </h1>

    <h3>
        Team: The Turing Team 
    </h3>
    <p>This is Me</p>
  </div>
  <img src="static/images/20180208_134037.jpg" alt= "Rasheed Senior" width="500" height="750" />
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.min.js') }}" charset="utf-8"></script>
{% endblock %}
